div{
    background-color: rgb(42, 7, 82);
    color: white;
    display: inline-block;
    height: 100px;
    width: calc(100%/8);
    text-align:center;
    font-weight: bolder;
    padding-top: 90px;
}
div:hover{
    background-color: rgb(73, 112, 158);
    color: black;
    transition-duration: 1s;
    transition-delay: 1s;
}
.uniqe{
    background-color: rgb(73, 112, 158);
    color: black;
    display: inline-block;
}
.uniqe:hover{
    background-color: rgb(42, 7, 82);
    color: white;
    transition-duration: 1s ease;
    transition-delay: 1s;
}
.table{
    position:relative;
    background-image: linear-gradient( to right, rgb(56, 56, 104),rgb(117, 117, 155), rgb(201, 193, 214)); 
    width: 100%;  
    height: 300px;
    padding:5px, 10px,5px,10px ;
    margin: auto;
    display: inline-block;
}
table{
    border: 2px solid black;
    width: 80%;
    height: 250px;
    margin: auto;
    padding: 3px;
    top: 4px;
    bottom: 4px;
    right: 10px;
    left: 10px;
    text-align: center;
    border-spacing: 0px;
    color: black;
    background-image: linear-gradient( to right, rgb(56, 56, 104),rgb(117, 117, 155), rgb(201, 193, 214));
    box-shadow: 3px 2px 4px rgb(52, 28, 107);
    position:absolute;
}
thead tr th{
    padding: 7px;
    border: 1px solid black;
    font-weight:bold;
    color: white;
}
tbody tr td{
    color: black;
    padding: 7px;
    border: 1px solid black;
}
 tbody td:hover{
    background-image:linear-gradient(to right,rgb(117, 117, 155), rgb(201, 193, 214));
    color: white;
}
p{
    text-align: center;
}
p::selection{
    background-color: rgb(0, 111, 119);
    color: white;
}
.img1{
    border-radius: 50%;
    width: 400px;
    height: 300px;
}
.img2{
    border-radius: 50%;
    width: 400px;
    height: 300px;
}
.img3{
    border-radius: 50%;
    width: 400px;
    height: 300px;
}
.img4{
    border-radius: 50%;
    width: 400px;
    height: 300px;
}

.img1:hover{
    filter: brightness(70%);
}
.img2:hover{
    filter:sepia(30%);
}
.img3:hover{
    filter:invert(80%);
}
.img4:hover{
    filter: opacity(30%);
}